In [9]:
import pandas as pd
import numpy as np


# Dateine einlesen
df_test = pd.read_csv('/Users/larsponig/Documents/GitHub/UmsatzWetterBackereiKiel/0_DataPreparation/kaggle/test.csv')
df_format = pd.read_csv('/Users/larsponig/Documents/GitHub/UmsatzWetterBackereiKiel/0_DataPreparation/kaggle/sample_submission.csv')
df_train = pd.read_csv('/Users/larsponig/Documents/GitHub/UmsatzWetterBackereiKiel/0_DataPreparation/kaggle/train.csv')


print(df_test.head())
print(df_test.info())

print(df_format.head())
print(df_format.info())

print(df_train.head())

# Datum zu datetime-Objekten
df_test['Datum'] = pd.to_datetime(df_test['Datum'])
df_train['Datum'] = pd.to_datetime(df_train['Datum'])


# Mergen
df_tt = pd.merge(df_test, df_train, on='Datum', how='left')




# Ã„ndern der Anzeigeoptionen
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)


print(df_tt.shape)
print(df_tt.head())

        id       Datum  Warengruppe
0  1808011  2018-08-01            1
1  1808021  2018-08-02            1
2  1808031  2018-08-03            1
3  1808041  2018-08-04            1
4  1808051  2018-08-05            1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1830 non-null   int64
 1   Datum        1830 non-null   object
 2   Warengruppe  1830 non-null   int64
dtypes: int64(2), object(1)
memory usage: 43.0+ KB
None
        id  Umsatz
0  1808011       0
1  1808021       0
2  1808031       0
3  1808041       0
4  1808051       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1830 non-null   int64
 1   Umsatz  1830 non-null   int64
dtypes: int64(2)
memory usage: 28.7 KB
None
        id       Datum  Warengruppe      Umsatz
0  1307011  2013-07-01            1  148.828353
1  1307021  2013-07-02            1  159.793757
2  1307031  2013-07-03            1  111.885594
3  1307041  2013-07-04            1  168.864941
4  1307051  2013-07-05            1  171.280754
(1830, 6)
      id_x      Datum  Warengruppe_x  id_y  Warengruppe_y  Umsatz
0  1808011 2018-08-01              1   NaN            NaN     NaN
1  1808021 2018-08-02              1   NaN            NaN     NaN
2  1808031 2018-08-03              1   NaN            NaN     NaN
3  1808041 2018-08-04              1   NaN            NaN     NaN
4  1808051 2018-08-05              1   NaN            NaN     NaN